/*основной цвет #212121;*/
/*цвет акцент(кнопка, web,) #2196F3;*/
/*цвет studio #000000, 100 %*/
/*цвет текста #757575;*/
/*цвет фона баннера (герой) и подвала #2F303A*/
/*цвет фона под фото и заголовка баннера  #FFFFFF*/
/*цвет фона сек наша команда  #F5F4FA*/


:root{
  --main-text-color:#212121;
  --accent-color:#2196F3; 
  --text-color:#757575 ;
  --main-title-color: #FFFFFF;
  --studio-color--:#000000;
  --footer-hero-color:#2F303A;
  }

body{
  background-color:#FFFFFF;
  color:#212121;
}
ul {
  list-style:none ;
}
      
/* HEADER */

.menu-nav > a{
  color: var(--accent-color);
}
.studio{
  color: var(--studio-color--);
  }

/*site-nav list*/


/*auth-nav list*/
.auth-nav .contact{
  color: var(--text-color);
} 

.auth-nav .contact:hover{
  color: var(--accent-color);
}
       /*MAIN*/

/*section hero (баннер)*/
.hero{
  background-color:var(--footer-hero-color);
}
.hero .title{
  color: var(--main-title-color);
}


/*section Почему именно мы*/

.section-title{
  color: #212121;
}

.secion-text{
  color: #757575;
}

/* section Чем мы занимаемся*/

/*section Наша команда */